/*
 * Index CSS
 * Used for the index page
*/

body {
	background-color: #FFF;
	margin:0;
	font-family:Arial;
	font-size:0.85rem;
	color:#000;
}

h1 {
	font-size:250%;
	border-bottom:1px dashed #F7464A;
	padding-bottom:2rem;
	margin-bottom:2rem;
	
}

h2 { 
	
	font-size:150%; 
	border-top:1px dashed #CCC;
	padding-top:2rem;
	margin-top:2rem;
}

h3 {
	color:#333;
	padding-bottom:0rem;
	margin-bottom:0rem;
}

p {
	line-height: 1.6rem;
	
}

a,i {
	color:#F7464A;
}

.button {
	display:block;
	padding:2rem 1rem;
	text-align:center;
	color:#FFF;
	background: rgb(34, 179, 176);
	border-bottom: 10px solid rgb(11, 146, 143);
	text-decoration:none;
	border-radius:10px;
}



#contentContainer {
	padding:1rem 2rem;
	max-width:800px;
	margin:0 auto;
}

/* custom nav */
nav#primary {
	background: rgb(34, 179, 176);
	border-bottom: 10px solid rgb(11, 146, 143);
}

nav#primary a {
	color:#FFF;
	text-decoration:none;
	display:block;
	padding:2rem;
}



nav#primary .dropdown-menu a{
	border-top:1px dotted #FFF;
}

pre {
	padding:1rem;
	background:#222;
	border:5px solid #777;
	color:rgb(87, 201, 255);
	border-radius:10px;
	font-size:1rem;
	margin:2rem;
}

#testSlideShow,
#testSlideShow img {
	height:300px;
}
