/*
 * Index CSS
 * Used for the index page
*/

body {
	background-color: #FFF;
	margin:0;
	font-family:Arial;
	font-size:0.85rem;
	color:#666;
}

h1 {
	font-size:250%;
	border-bottom:1px dashed #F7464A;
	padding-bottom:2rem;
	margin-bottom:2rem;
	color:#000;
	
}

h1 span {
	color:#F7464A;
}

h2 { 
	
	font-size:150%; 
	border-top:1px dashed #CCC;
	padding-top:2rem;
	margin-top:2rem;
	color:#39c;
}

h3 {
	padding-bottom:0rem;
	margin-bottom:0rem;
}

p {
	line-height: 1.6rem;
	
}

a {
	color: rgb(34, 179, 176);
}

ul {

	list-style-type: none;
	padding:0;
}

ul li{

}

i {
	color:#39c;
}

.button {
	display:block;
	width:100%;
	padding:2rem 1rem;
	text-align:center;
	color:#FFF;
	background: rgb(34, 179, 176);
	border-bottom: 10px solid rgb(11, 146, 143);
	text-decoration:none;
	border-radius:10px;
	margin:25px 0 0 0;
	font-size:1rem;
}

.button + .button {
	background: #F7464A;
	border-bottom: 10px solid rgb(204, 59, 59);
}



#contentContainer {
	padding:6rem 2rem 2rem 2rem;
	margin:0 auto;
}

section h1:first-child {
	border:none;
	margin-bottom:0;
	width:800px;
	margin:0 auto;
}

/* custom nav */
nav#primary {
	background:rgba(0,0,0,0.7);
	position:fixed;
	top:0;left:0;right:0;
}

nav#primary a {
	color:#FFF;
	text-decoration:none;
	display:inline-block;
	padding:1rem;
}

nav#primary a:first-child {
	background:#F7464A;
	
}


footer {
	text-align: right;
	border-top:1px dashed #CCC;
	padding:1rem;
}
