/* ==========================================================================
   JiveJS jQuery UI Library
========================================================================== */

/*
 * JiveJS: Canopies
 */

#canopy-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99997;
	min-height: 100%;
	width: 100%;
	height: 100%;
	background: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE8 */
	filter: alpha(opacity=70); /* IE 5-7 */
	opacity: 0.70; /* Chrome 4+, Firefox 2+, Safari 3.1+, Opera 9+, IE9+, iOS 3.2+, Android 2.1+ */
}

#canopy {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99998;
	min-height: 100%;
	width: 100%;
	height: 100%;
}

#canopy-close-btn {
	position: absolute;
	right: 0;
	padding: 10px;
	color: #fff;
	cursor: pointer;
}

#canopy-btn-close:hover {
	cursor: pointer;
}

/*
 * JiveJS: Tabs
 */

.tabs-container {}
.tab {}
.panel {}

/*
 * JiveJS: Slideshows
 */

.jive-slideshow {
	position: relative;
}

.jive-slideshow .slide {
	position: absolute;
	top: 0;
	left: 0;
}


/*
 * JiveJS: Popups
 */

.popup {
	position: absolute;
	z-index: 99999;
	padding: 0;
	-webkit-border-radius: 10px; /* Safari 3-4, iOS 1-3.2, Android ≤ 1.6 */
	-moz-border-radius:    10px; /* Firefox 1.0+ */
	border-radius:         10px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
	background: #fff;
	-webkit-box-shadow: 0 0 10px #222; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0 0 10px #222; /* Firefox 3.5+ */
	box-shadow:         0 0 10px #222; /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
}

.popup .popup-toolbar {
	padding: 20px;
	border-bottom: 1px solid #ccc;
	-webkit-border-radius: 10px 10px 0 0; /* Safari 3-4, iOS 1-3.2, Android ≤ 1.6 */
	-moz-border-radius:    10px 10px 0 0; /* Firefox 1.0+ */
	border-radius:         10px 10px 0 0; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
	background: #eee;
}

.popup .popup-toolbar .popup-close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.popup .popup-toolbar:hover {
	background: #ddd;
	cursor: move;
}

.popup .popup-resize {
    position: absolute;
    right: -1px;
    bottom: -1px;
    width: 15px;
    height: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa #999 #999 #aaa;
    -webkit-border-radius: 0 0 10px 0; /* Safari 3-4, iOS 1-3.2, Android ≤ 1.6 */
    -moz-border-radius:    0 0 10px 0; /* Firefox 1.0+ */
    border-radius:         0 0 10px 0; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
	background: none repeat scroll 0 0 #ccc;
    cursor: nw-resize;
}

.popup .popup-resize:hover {
	background: #bbb;
}

.popup .popup-contents {
	padding:20px;
}

/*
 * JiveJS: Modals & Loaders
 */

/*
 * JiveJS: Tooltips
 */

/*
 * JiveJS: Dropdowns
 */

.dropdown {}
.dropdown-menu {}

/*
 * JiveJS: Forms
 */

.jive-form .invalid {
	border-color: #f00;
}

/*
 * JiveJS: Messages
 */

#jive-messenger {
	position: fixed;
	top: 12px;
	right: 30%;
	left: 30%;
	z-index: 100;
	font-size: 12px;
}

#jive-messenger-close {
	position: absolute;
	top: 10px;
	right: 10px;
	overflow: hidden;
	width: 16px;
	height: 16px;
	color: #fff;
	cursor: pointer;
}

#jive-messenger-close:hover {
	background-position: -16px 0;
}

.jive-msg {
	padding: 10px;
	-webkit-border-radius: 3px; /* Safari 3-4, iOS 1-3.2, Android ≤ 1.6 */
	-moz-border-radius:    3px; /* Firefox 1.0+ */
	border-radius:         3px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
	background: #fff;
	-webkit-box-shadow: 0 0 10px #000; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0 0 10px #000; /* Firefox 3.5+ */
	box-shadow:         0 0 10px #000; /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
}

.jive-msg-failure {
	background-color: #e01616;
	background-image: -moz-linear-gradient(top, #e01616 0%, #961603 100%);
	color: #fff;
}

.jive-msg-warning {
	background-color: #f9aa00;
	background-image: -moz-linear-gradient(top, #fabb00 0%, #f9aa00 100%);
	color:#fff;
}

.jive-msg-success {
	background-color: #8fc400;
	background-image: -moz-linear-gradient(top, #8fc400 0%, #52aa00 100%);
	color:#fff;
}

/* JiveJS: Dragging */

.drag {
	cursor: move;
	user-select: none;
}


/*
 * JiveJS: CSS3
 */

.grow {
    -moz-animation-name: resize;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: alternate;
}

@-moz-keyframes resize {
	0% {
		padding: 0;
	}

	50% {
		width: 500px;
		height: 500px;
	}

	100% {
		width: 1000px;
		height: 1000px;
	}
}