/* JiveJS - CSS File
 * 
 * Basic styles for the UI components
 * 
*/

/* Canopy 
 * 
 * Overlay component that used to "blackout" the page 
 * with a semi transparent overlay. Used generally in the 
 * conjunction with modal windows
 * 
 */

/* Overlay div */
#canopy {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 998;
	min-height: 100%;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.7);
}

#canopy-close {
	background:#000;
	border-radius:50%;
	position: absolute;
	right: 1rem;
	top:1rem;
	padding: 0.5rem 1rem;
	color: #fff;
	cursor: pointer;
}

#canopy-close:hover {
	background:#FFF;
	color:#000;
}

/* Tabs */

.tabs-container {}
.tab {}
.panel {}

/*
 * JiveJS: Slideshows
 */

/* Slide show containers need to be relative so the 
 * .slide elements position to the container. 
*/
.slideshow {
	position: relative;
}

/* Slide element */
.slideshow .slide {
	position: absolute;
	top: 0;
	left: 0;
}

/*
 * Popups
 */
.popup {
	position: absolute;
	z-index: 999;
	padding: 0;
	background: #fff;
	box-shadow: 0 0 10px #222;
}

.popup .popup-toolbar {
	padding: 1rem;
	border-bottom: 1px solid #ccc;
	background: #eee;
}

.popup .popup-toolbar .popup-close {
	cursor: pointer;
	float:right;
}

.popup .popup-toolbar:hover {
	background: #ddd;
	cursor: move;
}

.popup .popup-resize {
    position: absolute;
    right: -1px;
    bottom: -1px;
    width: 15px;
    height: 15px;
    border-width: 1px;
    border-style: solid;
	background: none repeat scroll 0 0 #ccc;
    cursor: nw-resize;
}

.popup .popup-resize:hover {
	background: #bbb;
}

.popup .popup-contents {
	padding:20px;
}

/*
 * Modal
 */

.popup#modal {
	position: fixed;
}

/*
 * JiveJS: Dropdowns
 */

.dropdown {}
.dropdown-menu {}

/*
 * JiveJS: Forms
 */

.form .invalid {
	border-color: #f00;
}

/*
 * Messenger
 */

#Messenger {
	position: fixed;
	top: 0;
	right:0 ;
	left: 0;
	z-index: 100;
}

.message {
	padding: 1rem;
	text-align:center;
	background: rgb(34, 179, 176);
	color:#fff;
	border-bottom:1px solid #FFF;
}

.message-failure {
	background: #F7464A;
}

.message-warning {
	background: #FFC83C;
}

.message-success {
	background:rgba(119, 196, 21, 1);
}